<div class="row center light-blue lighten-4" 
  style="margin:3em; padding: 2em; border-radius: 1em;">
  <h1 class="header center teal-text">Bienvenido a biblioteca</h1>
  <h3>{{ icon }}</h3>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
  Explora un mundo de conocimiento y aventura en nuestra biblioteca digital.
</h5>

  </div>
  <div class="row center">
    <a href="/book/add" id="download-button"
      class="btn-large waves-effect waves-light teal">Dar de alta un libro</a>
  </div>
</div>